<html>
<head> <title> News mashup </title>
  <script> window.onerror = function() {
    alert("Error caught");
  };
  </script>
  <script src="/Scripts/jquery-1.10.2.min.js"></script>


  <script src="/Scripts/angular.min.js"></script>
  <script src="/Scripts/common.js"></script>
  <script src="/Scripts/news.js"></script>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
        <link href="css/news.css" rel="stylesheet">

</head>



<body ng-app="newsApp">
<div class="jumbotron jumbotron-fluid">
<div class="text-center">
  <h1 class="display-3"> Site Bookmarker </h1>
  <p class="lead"> Use this site to randomize sites you visit during the day.  </p>

</div>
</div>
  <div ng-controller="newsCtrl">
  <div class="row text-center">
    <div class="col-md-12">
      <div class="col-sm-12">
    <input type="checkbox" ng-model="includeIframes" ng-click="toggleIframes()"/> Include iframes </div>
    <div class="col-sm-12">
    <input type="checkbox" ng-model="allowRefresh" ng-click="toggleRefresh()"/> Allow refresh </div>
    <div class="col-sm-12">
    Refresh Interval: <input type="textbox" ng-model="refreshInterval" ng-blur="changeRefresh()"/>  </div>
    <div class="col-sm-12">
    <button class="btn btn-success" ng-click="loadRandomSite()"> Load a random site</button>
  </div>
  </div>
  </div>
<div class="container-fluid">
    <div class="row sitesection">
      <div class="col-lg-4 box text-center">
        <select class="btn btn-success linkbutton" ng-model="selectedSites[0]" ng-options="site as site.name for site in websites track by site.id" ng-change="changeList(1, selectedSites[0].id)">
        </select>
        <a href="{{selectedSites[0].url | trustAsResourceUrl}}" target="_blank"> Go </a>
         <div  ng-show="includeIframes">
        <div id="site1"> </div>
      </div>
        </div>
       <div class="col-lg-4 box text-center">
         <select class="btn btn-success linkbutton" ng-model="selectedSites[1]" ng-options="site as site.name for site in websites track by site.id" ng-change="changeList(2, selectedSites[1].id)">
         </select>
         <a href="{{selectedSites[1].url | trustAsResourceUrl}}" target="_blank"> Go </a>
         <div  ng-show="includeIframes">
           <div id="site2"> </div>
        </div>
      </div>
        <div class="col-lg-4 box text-center">
          <select class="btn btn-success linkbutton" ng-model="selectedSites[2]" ng-options="site as site.name for site in websites track by site.id"
          ng-change="changeList(3, selectedSites[2].id)">
          </select>
          <a href="{{selectedSites[2].url | trustAsResourceUrl}}" target="_blank"> Go </a>
           <div  ng-show="includeIframes">
              <div id="site3"> </div>
              </div>
       </div>
    </div>

<div class="bookmarks">
  <h2 class="text-center"> Manage Bookmarks </h2>
    <table class="table" id="choicetable">
      <tr> <th> Site </th><th> Url </th> <tr>
        <tr ng-repeat="site in websites track by $index" ng-class="{'highlight':$index == selectedRow}" ng-click="setClickedRow($index)">
          <td> <a href="{{site.url || trustAsResourceUrl}}" target="_blank">  <span class="glyphicon glyphicon-link"></span></a> <input type="textbox" ng-model="site.name"  ng-change="positionChange(site.position)"/>
          </td>
          <td><input type="textbox" ng-model="site.url"  ng-change="positionChange(site.position)"/> </td>

        </tr>
    </table>
    <div class="text-center"> <button ng-click="addRow()" class="btn btn-primary"> Add Row </button>
      <button ng-click="deleteRow()" class="btn btn-primary"> Delete Row </button>
    <button ng-click="clearPreviousCache()" class="btn btn-primary"> Clear Cache </button> </div>
 </div>

</div>

</div>



</body>

</html>
